@import "tailwindcss";

@theme {
  --color-bg-primary: #0f0e17;
  --color-bg-secondary: #1a1830;
  --color-bg-card: #1e1b35;
  --color-purple-accent: #6c47ff;
  --color-purple-light: #8b6dff;
  --color-purple-dark: #4b2fd4;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a09cbd;
  --color-priority-high: #ff4d6d;
  --color-priority-mid: #ffb347;
  --color-priority-low: #4dffb4;
}